features/cache
features/cache.zip
features/__pycache__
metrics/__pycache__
plotting/__pycache__
processing/__pycache__
tests/__pycache__
utils/__pycache__
video/__pycache__
.env
.pytest_cache
tests/.pytest_cache
.DS_Store
*.ipynb
*LogFile